body {
  margin-bottom: 20px;
  background-color: #FFFFFF	;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 12px;
}

@media screen and (min-width:600px) {
  nav {
    float: left;
    width: 25%;
  }
  section {
    margin-left: 25%;
  }
  footer {
	  position: relative;	
	  bottom: 0;
	  left: 20px;
	  height: 5%;
	  background-color: #FFFFFF;	
	  width: 80%;
	  font-size: 10px;
	}
}
@media screen and (max-width:599px) {
  nav li {
    display: inline;
  }
}
