{% extends "base.html" %}
{% block title %}Project Manifest{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        /*.important { color: #336699; }*/
    </style>
{% endblock %}
{% block content %}

{% autoescape true %}


<a href="{{ url|safe }}">{{ url_linktext }}</a>


<form action="/new?projectmanifest_name=default_projectmanifest" method="post">
  <div>Project Name: <input type="text" name="name"></div>
  <div>Location: <input type="text" name="location"></div>
  <div>Start Date: <input type="date" name="start_date"></div>
  <div>Completion Date: <input type="date" name="end_date"></div>
  <div>Remarks: <br> <textarea name="remarks"></textarea>
  <div><input type="submit" value="Create"></div>
</form>


{% endautoescape %}

{% endblock %}

