
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link type="text/css" rel="stylesheet" href="/assets/css/main.css" />
    <link type="text/css" rel="stylesheet" href="/assets/css/tables.css" /> -->
    <link type="text/css" rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/assets/bootstrap/css/dashboard.css" />

    <link href='http://fonts.googleapis.com/css?family=Anton|Open+Sans' rel='stylesheet' type='text/css'>
    <title>{% block title %}{% endblock %} - E&V Electrical Inc.</title>
    {% endblock %}
</head>

<body>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                {% block nav %} {% endblock %}

                {% block content %}
                {% endblock %}
    <div class="mastfoot">
        <div class="inner">
                {% block footer %}
                <p>&copy; E&V Electrical, Inc. 2014.</p>        
                {% endblock %}
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/bootstrap/js/docs.min.js"></script>

</body>
</html>