{% extends "base.html" %}

{% block title %} Index {% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        /*.important { color: #336699; }*/
    </style>
{% endblock %}

{% include "nav.html" %}

{% block content %}

{% autoescape true %}

<h1 class="page-header">Dashboard</h1>

{% if user %}
  <div class="table-responsive">
      <table class="table table-striped"><thead><tr>
      <th>Project Name</th>
      <th>Location</th>
      <th>Project Start</th>
      <th>Expected Completion</th></tr></thead>
      <tbody><tr>
    {% for project in projects %}
      {% if project.author %}
        <td>{{ project.name }}</td>
        <td>{{ project.location }}</td>
        <td>{{ project.start_date}}</td>
        <td>{{ project.end_date}}</td>
        </tr>
      {% else %}
        No Active Projects
      {% endif %}
  {% endfor %}
{% endif %}
</tr></tbody>
<tfoot><tr colspan=4></tr></tfoot>
</table>
</div>

{% endautoescape %}

{% endblock %}

