{% extends "base.html" %}
{% block title %}Project Manifest{% endblock %}
{% block head %}
    {{ super() }}
    <!--
    <link type="text/css" rel="stylesheet" href="/assets/css/forms.css" />
    -->
{% endblock %}

{% include "nav.html" %}

{% block content %}

{% autoescape true %}

<h1 class="page-header">Add New Project</h1>

<form action="/new?projectmanifest_name=default_projectmanifest" method="post">
  <div class="form-group">
    <label for="name">Project Name:</label> 
    <input type="text" class="form-control" name="name"> <br/>
  </div><div class="form-group">
    <label for="location">Location:</label> 
    <input type="text" class="form-control" name="location"><br/>
  </div><div class="form-group">
    <label for="start_date">Start Date:</label> 
    <input type="date" class="form-control" name="start_date"><br/>
  </div><div class="form-group">
    <label for="end_date">Completion Date:</label> 
    <input type="date" class="form-control" name="end_date"><br/>
  </div><div class="form-group">
    <label for="remarks">Remarks: </label>
    <textarea name="remarks" class="form-control"></textarea><br/>
  </div>
  <input type="submit" name="submitbutton" id="submitbutton" value="Create" class="btn btn-default">
</form>


{% endautoescape %}

{% endblock %} 

